body {
  background-color: pink;
}
button {
  background-color: transparent;
}

button {
  border-color: rgb(241, 209, 26);
}
button {
  width: 3cm;
  height: 1cm;
  border-radius: 20cm;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover::before {
  width: 9cm;
}
button[type="submit"]:hover {
  letter-spacing: 5px;
}
div {
  padding-top: 20px;
  padding-left: 50px;
}
.a1 {
  border-radius: 10px;
}
.a2 {
  border-radius: 5px;
}
